{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  {% include 'appFront/include/head.html' %}
  <!-- end head -->
  <body>
    <div class="page-wrapper">
      <!-- header -->
      {% include 'appFront/include/header.html' %}
      <!-- end header -->

      <!-- Contenu -->
      <main class="page-content">
        {% block content %}{% endblock %}
      </main>
      <!-- End Contenu -->

      <!-- footer -->
      {% include 'appFront/include/footer.html' %}
      <!-- end footer -->
    </div>

    <!-- scriptJS -->
    {% include 'appFront/include/scriptJS.html' %}
    <!-- end scriptJS -->

    {% block customScript %}{% endblock customScript %}
  </body>
</html>
