Bonjour {{ user.get_full_name|default:user.email }},

Vous recevez ce message parce qu'une demande de réinitialisation de mot de passe a été effectuée pour votre compte Olympique Tickets.

Pour choisir un nouveau mot de passe, cliquez sur le lien ci-dessous ou copiez-le dans votre navigateur :
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Ce lien n'est valable que pour une durée limitée. Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email.

À très bientôt,
L'équipe Olympique Tickets
